<header class="main-header">

  <a href="index2.html" class="logo">
    <span class="logo-mini"><b>A</b>LT</span>
    <span class="logo-lg"><b>Enge</b>SFTW</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <form>
    <div class="navbar-custom-menu container">
      <a href="/login" (click)="logout()" class="glyphicon glyphicon-user" style="color:white">sair</a>
    </div>
  </form>
  </nav>
</header>